DOCKER_NAMESPACE = frog
DOCKER_IMAGE_VERSION ?= latest
DOCKER_REPOSITORY = rad-mongodb
DOCKER_CONTAINER_NAME = rad-mongodb
DOCKER_INSTANCE = 1
DOCKER_PORTS = \
	-p 27017:27017 \
	-p 28017:28017
DOCKER_MAPPED_VOLUMES = -v $(shell pwd)/data:/data/db
DOCKER_ENV = \
	-e MONGO_ADMIN_USER=admin \
	-e MONGO_ADMIN_PASS=pass